{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/news_gdelt.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .map {
  position: absolute;
  right: 0px;
  top: 70px;

}
* {
  box-sizing: border-box;
}
body{
  /* overflow-x: hidden; */
  width: 100%;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 30%;
}
.column2 {
  float: left;
  width: 70%;
  padding: 10px;
}
</style>
</head>
<body>
<div class="row" style="margin-left:1%;">
  <div class="col-4" style="background-color: rgba(173, 217, 230, 0.4); padding-bottom: 2%; padding-top: 1%; border-radius: 10px;">
    <h2>Locational Pattern</h2>
    <p>Allows to create maps of any arbitrary keywords.</p>
   <form action="/location_deep" method="post">
     <!-- Query -->
     <div class="form-group row">
       <label for="searchterm" class="col-6 col-form-label">Search term</label>
       <div class="col-6">
         <input class="form-control" type="text" value="" id="searchterm" name="searchterm"> 
       </div>
     </div>
     <div class="form-group row">
       <label for="location" class="col-6 col-form-label">Location</label>
       <div class="col-6">
       <input class="form-control" type="text" value="" id="location" name="location"> 
     </div>
     </div>
         <!-- <div class="form-group row">
       <label for="locationcc" class="col-6 col-form-label">LocationCC:</label>
       <div class="col-5">
         <input class="form-control" type="text" value="" id="locationcc" name="locationcc">
         <a href="/static/data/LOOKUPCOUNTRIES.txt" target="_blank">Country Lookup</a> 
       </div>
       </div> -->
       <div class="form-group row">
       <label for="sourcecountry" class="col-6 col-form-label">Source country</label>
         <div class="col-6">
         <select class="form-control" id="sourcecountry" name="sourcecountry" onfocus='this.size=10;' onblur='this.size=1;' 
           onchange='this.size=1; this.blur();'>
           <option value="">All</option>
                 <option value="AF">Afghanistan</option>
                 <option value="AX">Akrotiri Sovereign Base Area</option>              
                 <option value="AL">Albania</option>
                 <option value="AG">Algeria</option>
                 <option value="AQ">American Samoa</option>
                 <option value="AN">Andorra</option>
                 <option value="AO">Angola</option>
       <option value="AV">Anguilla</option>
       <option value="AY">Antarctica</option>
       <option value="AC">Antigua and Barbuda</option>
       <option value="AR">Argentina</option>
       <option value="AM">Armenia</option>
       <option value="AA">Aruba</option>
       <option value="AT">Ashmore and Cartier Islands</option>
       <option value="AS">Australia</option>
       <option value="AU">Austria</option>
       <option value="AJ">Azerbaijan</option>
       <option value="BF">Bahamas, The</option>
       <option value="BA">Bahrain</option>
       <option value="FQ">Baker Island</option>
       <option value="BG">Bangladesh</option>
       <option value="BB">Barbados</option>
       <option value="BS">Bassas da India</option>
       <option value="BO">Belarus</option>
       <option value="BE">Belgium</option>
       <option value="BH">Belize</option>
       <option value="BN">Benin</option>
       <option value="BD">Bermuda</option>
       <option value="BT">Bhutan</option>
       <option value="BL">Bolivia</option>
       <option value="BK">Bosnia-Herzegovina</option>
       <option value="BC">Botswana</option>
       <option value="BV">Bouvet Island</option>
       <option value="BR">Brazil</option>
       <option value="IO">British Indian Ocean Territory</option>
       <option value="VI">British Virgin Islands</option>
       <option value="BX">Brunei</option>
       <option value="BU">Bulgaria</option>
       <option value="UV">Burkina Faso</option>
       <option value="BY">Burundi</option>
       <option value="CB">Cambodia</option>
       <option value="CM">Cameroon</option>
       <option value="CA">Canada</option>
       <option value="CV">Cape Verde</option>
       <option value="CJ">Cayman Islands</option>
       <option value="CT">Central African Republic</option>
       <option value="CD">Chad</option>
       <option value="CI">Chile</option>
       <option value="CH">China</option>
       <option value="KT">Christmas Island</option>
       <option value="IP">Clipperton Island</option>
       <option value="CK">Cocos Keeling Islands</option>
       <option value="CO">Colombia</option>
       <option value="CN">Comoros</option>
       <option value="CF">Congo</option>
       <option value="CW">Cook Islands</option>
       <option value="CR">Coral Sea Islands</option>
       <option value="CS">Costa Rica</option>
       <option value="IV">Cote dIvoire</option>
       <option value="HR">Croatia</option>
       <option value="CU">Cuba</option>
       <option value="CY">Cyprus</option>
       <option value="EZ">Czech Republic</option>
       <option value="LO">Czechoslovakia</option>
       <option value="CG">Democratic Republic of the Congo</option>
       <option value="DA">Denmark</option>
       <option value="DX">Dhekelia Sovereign Base Area</option>
       <option value="DJ">Djibouti</option>
       <option value="DO">Dominica</option>
       <option value="DR">Dominican Republic</option>
       <option value="TT">East Timor</option>
       <option value="EC">Ecuador</option>
       <option value="EG">Egypt</option>
       <option value="ES">El Salvador</option>
       <option value="GV">Equatorial Guinea</option>
       <option value="EK">Equatorial Guinea</option>
       <option value="ER">Eritrea</option>
       <option value="EN">Estonia</option>
       <option value="ET">Ethiopia</option>
       <option value="PJ">Etorofu, Habomai, Kunashiri and Shikotan Islands</option>
       <option value="EU">Europa Island</option>
       <option value="FK">Falkland Islands Islas Malvinas</option>
       <option value="FO">Faroe Islands</option>
       <option value="FJ">Fiji</option>
       <option value="FI">Finland</option>
       <option value="FR">France</option>
       <option value="FG">French Guiana</option>
       <option value="FP">French Polynesia</option>
       <option value="FS">French Southern and Antarctic Lands</option>
       <option value="GB">Gabon</option>
       <option value="GA">Gambia</option>
       <option value="GZ">Gaza Strip</option>
       <option value="GG">Georgia</option>
       <option value="GM">Germany</option>
       <option value="GH">Ghana</option>
       <option value="GI">Gibraltar</option>
       <option value="GO">Glorioso Islands</option>
       <option value="GR">Greece</option>
       <option value="GL">Greenland</option>
       <option value="GJ">Grenada</option>
       <option value="GP">Guadeloupe</option>
       <option value="GQ">Guam</option>
       <option value="GT">Guatemala</option>
       <option value="GK">Guernsey</option>
       <option value="PU">Guinea-Bissau</option>
       <option value="GY">Guyana</option>
       <option value="HA">Haiti</option>
       <option value="HM">Heard Island and McDonald Islands</option>
       <option value="HO">Honduras</option>
       <option value="HK">Hong Kong</option>
       <option value="HQ">Howland Island</option>
       <option value="HU">Hungary</option>
       <option value="IC">Iceland</option>
       <option value="IN">India</option>
       <option value="ID">Indonesia</option>
       <option value="IR">Iran</option>
       <option value="IZ">Iraq</option>
       <option value="EI">Ireland</option>
       <option value="IM">Isle of Man</option>
       <option value="IS">Israel</option>
       <option value="IT">Italy</option>
       <option value="JM">Jamaica</option>
       <option value="JN">Jan Mayen</option>
       <option value="JA">Japan</option>
       <option value="DQ">Jarvis Island</option>
       <option value="JE">Jersey</option>
       <option value="JQ">Johnston Atoll</option>
       <option value="JO">Jordan</option>
       <option value="JU">Juan de Nova Island</option>
       <option value="KZ">Kazakhstan</option>
       <option value="KE">Kenya</option>
       <option value="KQ">Kingman Reef</option>
       <option value="KR">Kiribati</option>
       <option value="KV">Kosovo</option>
       <option value="KU">Kuwait</option>
       <option value="KG">Kyrgyzstan</option>
       <option value="LA">Laos</option>
       <option value="LG">Latvia</option>
       <option value="LE">Lebanon</option>
       <option value="LT">Lesotho</option>
       <option value="LI">Liberia</option>
       <option value="LY">Libya</option>
       <option value="LS">Liechtenstein</option>
       <option value="LH">Lithuania</option>
       <option value="LU">Luxembourg</option>
       <option value="MC">Macau</option>
       <option value="MK">Macedonia</option>
       <option value="MA">Madagascar</option>
       <option value="MI">Malawi</option>
       <option value="MY">Malaysia</option>
       <option value="MV">Maldives</option>
       <option value="ML">Mali</option>
       <option value="MT">Malta</option>
       <option value="RM">Marshall Islands</option>
       <option value="MB">Martinique</option>
       <option value="MR">Mauritania</option>
       <option value="MP">Mauritius</option>
       <option value="MF">Mayotte</option>
       <option value="MX">Mexico</option>
       <option value="FM">Micronesia</option>
       <option value="MQ">Midway Islands</option>
       <option value="MD">Moldova</option>
       <option value="MN">Monaco</option>
       <option value="MG">Mongolia</option>
       <option value="MJ">Montenegro</option>
       <option value="MH">Montserrat</option>
       <option value="MO">Morocco</option>
       <option value="MZ">Mozambique</option>
       <option value="BM">Myanmar</option>
       <option value="WA">Namibia</option>
       <option value="NR">Nauru</option>
       <option value="BQ">Navassa Island</option>
       <option value="NP">Nepal</option>
       <option value="NL">Netherlands</option>
       <option value="NT">Netherlands Antilles</option>
       <option value="NC">New Caledonia</option>
       <option value="NZ">New Zealand</option>
       <option value="NU">Nicaragua</option>
       <option value="NG">Niger</option>
       <option value="NI">Nigeria</option>
       <option value="NE">Niue</option>
       <option value="NM">No Mans Land</option>
       <option value="NF">Norfolk Island</option>
       <option value="KN">North Korea</option>
       <option value="CQ">Northern Mariana Islands</option>
       <option value="NO">Norway</option>
       <option value="OS">Oceans</option>
       <option value="MU">Oman</option>
       <option value="PK">Pakistan</option>
       <option value="PS">Palau</option>
       <option value="LQ">Palmyra Atoll</option>
       <option value="PM">Panama</option>
       <option value="PP">Papua New Guinea</option>
       <option value="PF">Paracel Islands</option>
       <option value="PA">Paraguay</option>
       <option value="PE">Peru</option>
       <option value="RP">Philippines</option>
       <option value="PC">Pitcairn Islands</option>
       <option value="PL">Poland</option>
       <option value="PO">Portugal</option>
       <option value="RQ">Puerto Rico</option>
       <option value="QA">Qatar</option>
       <option value="RE">Reunion</option>
       <option value="RO">Romania</option>
       <option value="RS">Russia</option>
       <option value="RW">Rwanda</option>
       <option value="SH">Saint Helena</option>
       <option value="SC">Saint Kitts and Nevis</option>
       <option value="ST">Saint Lucia</option>
       <option value="RN">Saint Martin</option>
       <option value="SB">Saint Pierre and Miquelon</option>
       <option value="VC">Saint Vincent and the Grenadines</option>
       <option value="TB">Saint-Barthelemy Island</option>
       <option value="WS">Samoa</option>
       <option value="SM">San Marino</option>
       <option value="TP">Sao Tome and Principe</option>
       <option value="SA">Saudi Arabia</option>
       <option value="SG">Senegal</option>
       <option value="RI">Serbia</option>
       <option value="SE">Seychelles</option>
       <option value="SL">Sierra Leone</option>
       <option value="SN">Singapore</option>
       <option value="SI">Slovenia</option>
       <option value="BP">Solomon Islands</option>
       <option value="SO">Somalia</option>
       <option value="SF">South Africa</option>
       <option value="SX">South Georgia and the South Sandwich Islands</option>
       <option value="KS">South Korea</option>
       <option value="OD">South Sudan</option>
       <option value="SP">Spain</option>
       <option value="PG">Spratly Islands</option>
       <option value="CE">Sri Lanka</option>
       <option value="SU">Sudan</option>
       <option value="NS">Suriname</option>
       <option value="SV">Svalbard</option>
       <option value="WZ">Swaziland</option>
       <option value="SW">Sweden</option>
       <option value="SZ">Switzerland</option>
       <option value="SY">Syria</option>
       <option value="TW">Taiwan</option>
       <option value="TI">Tajikistan</option>
       <option value="TZ">Tanzania</option>
       <option value="TH">Thailand</option>
       <option value="TO">Togo</option>
       <option value="TL">Tokelau</option>
       <option value="TN">Tonga</option>
       <option value="TD">Trinidad and Tobago</option>
       <option value="TE">Tromelin Island</option>
       <option value="TS">Tunisia</option>
       <option value="TU">Turkey</option>
       <option value="TX">Turkmenistan</option>
       <option value="TK">Turks and Caicos Islands</option>
       <option value="TV">Tuvalu</option>
       <option value="UG">Uganda</option>
       <option value="UP">Ukraine</option>
       <option value="UF">Undersea Features</option>
       <option value="UU">Undesignated Sovereignty</option>
       <option value="AE">United Arab Emirates</option>
       <option value="UK">United Kingdom</option>
       <option value="US">United States</option>
       <option value="UY">Uruguay</option>
       <option value="UZ">Uzbekistan</option>
       <option value="NH">Vanuatu</option>
       <option value="VT">Vatican City</option>
       <option value="VE">Venezuela</option>
       <option value="VM">Vietnam, Democratic Republic of</option>
       <option value="VQ">Virgin Islands</option>
       <option value="WQ">Wake Island</option>
       <option value="WF">Wallis and Futuna</option>
       <option value="WE">West Bank</option>
       <option value="WI">Western Sahara</option>
       <option value="YM">Yemen</option>
       <option value="ZA">Zambia</option>
       <option value="ZI">Zimbabwe</option>
         </select>
         <!-- <a href="/static/data/LOOKUPCOUNTRIES.txt" target="_blank">Country Lookup</a> -->
         </div>
       </div>
       
       
       <div class="form-group row">
       <label for="sourcelang" class="col-6 col-form-label">Source language:</label>
       <div class="col-6">
         <select class="form-control" id="sourcelang" name="sourcelang" onfocus='this.size=10;' onblur='this.size=1;' 
           onchange='this.size=1; this.blur();'>
         <option selected value="eng">English</option>
         <option value="afr">Afrikaans</option>
         <option value="sqi">Albanian</option>
         <option value="ara">Arabic</option>
         <option value="hye">Armenian</option>
         <option value="axe">Azerbaijani</option>
         <option value="ben">Bengali</option>
         <option value="bos">Bosnian</option>
         <option value="bul">Bulgarian</option>
         <option value="cat">Catalan</option>
         <option value="zho">Chinese</option>
         <option value="hrv">Croatian</option>
         <option value="ces">Czech</option>
         <option value="dan">Danish</option>
         <option value="nld">Dutch</option>
         <option value="est">Estonian</option>
         <option value="fin">Finnish</option>
         <option value="fra">French</option>
         <option value="glg">Galician</option>
         <option value="kat">Georgian</option>
         <option value="deu">German</option>
         <option value="ell">Greek</option>
         <option value="guj">Gujarati</option>
         <option value="heb">Hebrew</option>
         <option value="hin">Hindi</option>
         <option value="hun">Hungarian</option>
         <option value="isl">Icelandic</option>
         <option value="ind">Indonesian</option>
         <option value="ita">Italian</option>
         <option value="jpn">Japanese</option>
         <option value="kan">Kannada</option>
         <option value="kaz">Kazakh</option>
         <option value="kor">Korean</option>
         <option value="lav">Latvian</option>
         <option value="lit">Lithuanian</option>
         <option value="mkd">Macedonian</option>
         <option value="msa">Malay</option>
         <option value="mal">Malayalam</option>
         <option value="mar">Marathi</option>
         <option value="mon">Mongolian</option>
         <option value="nep">Nepali</option>
         <option value="nor">Norwegian</option>
         <option value="nno">NorwegianNynorsk</option>
         <option value="fas">Persian</option>
         <option value="pol">Polish</option>
         <option value="por">Portuguese</option>
         <option value="pan">Punjabi</option>
         <option value="ron">Romanian</option>
         <option value="rus">Russian</option>
         <option value="srp">Serbian</option>
         <option value="sin">Sinhalese</option>
         <option value="slk">Slovak</option>
         <option value="slv">Slovenian</option>
         <option value="som">Somali</option>
         <option value="spa">Spanish</option>
         <option value="swa">Swahili</option>
         <option value="swe">Swedish</option>
         <option value="tam">Tamil</option>
         <option value="tel">Telugu</option>
         <option value="tha">Thai</option>
         <option value="bod">Tibetan</option>
         <option value="tur">Turkish</option>
         <option value="ukr">Ukrainian</option>
         <option value="urd">Urdu</option>
         <option value="vie">Vietnamese"</option>
         </select>
         <!-- <a href="/static/data/LOOKUP-LANGUAGES.txt" target="_blank">Language Lookup</a> -->
       </div>
       </div>
       
       <div class="form-group row">
       <label for="theme" class="col-6 col-form-label">Theme</label>
       <div class="col-6">
         <select class="form-control" type="text" value="" id="theme" name="theme" onfocus='this.size=10;' onblur='this.size=1;' 
           onchange='this.size=1; this.blur();'>
           <option value="">Select</option>
           <option value="AGRICULTURE">AGRICULTURE</option>
           <option value="CORRUPTION">CORRUPTION</option>
           <option value="CYBER_ATTACK">CYBER_ATTACK</option>
           <option value="DEMOCRACY">DEMOCRACY</option>
           <option value="ECON_PRICECONTROL">Price Control</option>
           <option value="ECON_FREETRADE">Free trade</option>
           <option value="ECON_TAXATION">Taxation</option>
           <option value="EDUCATION">EDUCATION</option>
           <option value="ELECTION">ELECTION</option>
           <option value="ENV_BIOFUEL">BIOFUELS</option>
           <option value="GOV_REPATRIATION">Repatriation</option>
           <option value="HARASSMENT">HARASSMENT</option>
           <option value="HATE_SPEECH">HATE_SPEECH</option>
           <option value="IDEOLOGY">IDEOLOGY</option>
           <option value="LEADER">LEADER</option>
           <option value="LEGISLATION">LEGISLATION</option>
           <option value="MANMADE_DISASTER_IMPLIED">MANMADE_DISASTER_IMPLIED</option>
           <option value="MARITIME_INCIDENT">MARITIME_INCIDENT</option>
           <option value="MEDICAL">MEDICAL</option>
           <option value="MOVEMENT_SOCIAL">social-related movements</option>
           <option value="PIRACY">PIRACY</option>
           <option value="PROTEST">PROTEST</option>
           <option value="POVERTY">POVERTY</option>
           <option value="SANCTIONS">SANCTIONS</option>
           <option value="SCIENCE">SCIENCE</option>
           <option value="TERROR">TERROR</option>
           <option value="TOURISM">TOURISM</option>
           <option value="UNEMPLOYMENT">UNEMPLOYMENT</option>
         </select>
         <!-- <a href="/static/data/LOOKUP-GKGTHEMES.txt" target="_blank">GKG Theme Lookup</a> -->
       </div>
       </div>
   
       <!-- STARTDATETIME/ENDDATETIME-->
       
       <div class="form-group row">
       <label for="startdatetime" class="col-6 col-form-label">Start Date</label>
       <div class="col-6" style="width:250px; padding-left:20px;">
         <input class="form-control" type="date" value="" id="startdatetime" name="startdatetime">
       </div>
       </div>
       
       <div class="form-group row">
       <label for="enddatetime" class="col-6 col-form-label">End Date</label>
       <div class="col-6" style="width:250px; padding-left:20px;">
         <input class="form-control" type="date" value="" id="enddatetime" name="enddatetime">
       </div>
       </div>
   
   
       <!-- MODE -->
       <div class="form-group row">
       <label for="modeselection" class="col-6 col-form-label" style="border-color:#A8D1DF; border-style: solid; background-color:#A8D1DF; opacity:0.8;  border-radius:5px;">Output Options</label>
       <div class="col-6">
         <select class="form-control" id="mode" name="mode"   style="border-color:#A8D1DF; border-style: solid; background-color:#A8D1DF; opacity:0.8;  border-radius:5px;">
           <option selected value="">Select</option>
           <option value="PointData">PointData</option>
           <option value="PointHeatmap">Point Heatmap</option>
                   <!-- <option value="PointAnimation">Point Animation</option> -->
                   <!-- <option value="Country">Point Country</option> -->
         </select>
       </div>
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>

     </form>
   </div>
</div>


<div class="column2" style="padding-right: 20%;">
  {% if mode=="PointHeatmap" %}
  <iframe class="map" style="padding-right: 5%; border: none;" src="/heatmap" width="800" height="700" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  
  {% elif mode=="PointData" %}
  <iframe class="map" style="padding-right: 5%; border: none;" src="{{ geo_url }}" width="800" height="700" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  {% endif %}
</div>
</body>
</html>
{% endblock %}