.textInput {
    height: 40px;
    width: 50%
    /* width: 600px; */
  }
  .input-area{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }
  .customBtn {
    background-color: rgba(0, 105, 217, 0.6); 
    margin-left: 5%;
  }
  .geoMap {
    width: 95%;
    height: 220px;
    margin: 6px 10px 0px 10px;
  }
  .sentiment-chart{
    width: 650px;
  }
  .full-content {
    margin: 0.4% 1% auto 1%;
  }
  .news_title{
    margin-bottom: 0px;
  }
  .news_time{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .news_content{
    margin-top: 10px;
    height: 360px;
    overflow-y: auto;
  }
  .chart-1{
    text-align: center;
    border: 1px solid rgb(150, 177, 251);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .chart-2{
    border: 1px solid rgb(150, 177, 251);
    border-radius: 10px;
    padding: 10px;
  }
  .sample-image{
    margin-top: 10px;
    height: 250px;
    background-image: url("graph_sample.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
  }
  
  .contact-us{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  .sub-text{
    display: none;
    left: 25%;
    top: 60%;
    text-align: center;
    position: absolute;
    font-style: italic;
  }
  
  .contact:hover .sub-text{
    display:block;
  }
  .geoMap-title{
    font-weight: bold;
    color: rgb(118, 118, 118);
    margin-left: 260px;
    margin-bottom: 0px;
  }
  .module-des{
    color:#9A073C;
    font-size: 14px;
  }